@page
@model epi_razor_pages.Pages.Start.StartPageModel
@{
    Layout = null;
}

<html>
<body>
    <h1>Try change this text, it will not update.</h1>
    <h2>Proprty: @Model.WorkingReload</h2>
</body>
</html>